{% extends 'base.html.twig' %}

{% block title %}Сап{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for post in posts %}
        <div class="cont">
            <p> Пост с номером {{ post.id }} </p>
            <li> Название: {{ post.name }}</li>
            <li> Дата создания: {{ post.addingDate|date('Y-m-d')  }}</li>
            <li> Описание: {{ post.description }}</li>
            <li> Текст: {{ post.fullText }}</li>
            <li> Количество просмотров: {{ post.viewsCount }}</li>
            {% if is_granted('ROLE_ADMIN') %} 
                <a class="link" href="{{ path('changePost', {id : post.id}) }}">Изменить пост</a>
                <br>
                <a class="link" href="{{ path('deletePost', {id : post.id}) }}">Удалить пост</a>
                <br>
            {% endif %}
            <a class="link" href="{{ path('post', {id : post.id}) }}">Посмотреть полностью</a>
            </ul>
        </div>
        {% endfor %}
</div>
{% endblock %}
