{% extends 'base.html.twig' %}

{% block title %}{{ post.name }}{% endblock %}

{% block body %}
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
            <div class="text-center">
            <h3> {{ post.description }} <a class="link" href="{{ path('homepage') }}">/На главную/</a> </h3>
            <p> {{ post.fullText }} </p>

            <p> Комментарии </p>
            {% for comment in comments %}
                <div class="cont">
                <p> {{ comment.username.nickname }} [<span class="badge badge-primary"> {{ comment.creationDate|date('Y-m-d') }} </span>] : {{ comment.commentaryText }} </p> <br>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="link" href="{{ path('deleteCommentary', {'idComment' : comment.id}) }}">Удалить комментарий</a>
                        <p> Удалить </p>
                    {% endif %}
                </div>
            {% endfor %}

            {% if is_granted('ROLE_USER') %}
                <div class="form-group">
                    <label for="myInput">Введите комментарий: </label>
                    <textarea class="form-control rounded-0" id="myInput" rows="3"></textarea>
                </div>
                <button type="button" class = "btn btn-primary btn-lg btn-block" id="myBtn">Отправить комментарий</button>
            
            {% endif %}
            </div>
		</div>
		<div class="col-md-2">
		</div>
	</div>
    </div>

{% if is_granted('ROLE_USER') %}
    <script language = "javascript" 
      src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script>
        $(document).ready(function(){

            $("#myBtn").on("click", function(event){  
                var commentary = $("#myInput").val();
                var postid = {{ post.id }} ;
                var userid = {{ app.user.id }} ;
                var arr = { uid : userid, pid : postid, cmnt : commentary};
                $.ajax({  
                url:        'http://127.0.0.1:8000/user/commenting',  
                type:       'POST',
                data:       JSON.stringify(arr),
                contentType: 'application/json; charset=utf-8',    
                dataType:   'json',
                async:      true,  
                
                success: function(data, status) {  
                    console.log("success");
                    console.log(data);
                    $("#myInput").val("");
                    document.location.reload();
                },  
                error : function(xhr, textStatus, errorThrown) {  
                    console.log("Не удалось сохранить комментарий");  
                    console.log(xhr, textStatus, errorThrown);
                }  
                });  
            });


        }); 
    </script>

    <script>
        jQuery.fn.extend({
            autoHeight: function () {
                function autoHeight_(element) {
                return jQuery(element).css({
                    'height': 'auto',
                    'overflow-y': 'hidden'
                }).height(element.scrollHeight);
                }
                return this.each(function () {
                autoHeight_(this).on('input', function () {
                    autoHeight_(this);
                });
                });
            }
            });
    </script>
 {% endif %}


{% endblock %}
