{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">
    <p> {{ post.description }} </p>
    {% if is_granted('ROLE_USER') %}
        <input type="text" id="myInput">
        <button type="button" id="myBtn">Отправить комментарий</button>
    {% endif %}
    <p> Секция комментов </p>
    {% for comment in comments %}
        <div class="cont">
            <p> {{ comment.commentaryText }} </p>
            <p> Дата написания: {{ comment.creationDate|date('Y-m-d')  }} </p>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="link" href="{{ path('deleteCommentary', {'idComment' : comment.id}) }}">Удалить комментарий</a>
                <p> Удалить </p>
            {% endif %}
        </div>
        {% endfor %}
</div>


{% if is_granted('ROLE_USER') %}
    <p> ваш номер {{  app.user.id  }} </p>
    <script language = "javascript" 
      src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <a id = "loadstudent">Load student information</a>  
    <script>
        $(document).ready(function(){

            $("#myBtn").on("click", function(event){  
                var commentary = $("#myInput").val();
                var postid = {{ post.id }} ;
                var userid = {{ app.user.id }} ;
                var arr = { uid : userid, pid : postid, cmnt : commentary};
                $.ajax({  
                url:        'http://127.0.0.1:8000/user/commenting',  
                type:       'POST',
                data:       JSON.stringify(arr),
                contentType: 'application/json; charset=utf-8',    
                dataType:   'json',
                async:      true,  
                
                success: function(data, status) {  
                    console.log("success");
                    console.log(data);
                },  
                error : function(xhr, textStatus, errorThrown) {  
                    console.log("Не удалось сохранить комментарий");  
                    console.log(xhr, textStatus, errorThrown);
                }  
                });  
            });


        }); 
    </script>
 {% endif %}


{% endblock %}
